conf/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:pattern="http://www.mulesoft.org/schema/mule/pattern"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/pattern http://www.mulesoft.org/schema/mule/pattern/current/mule-pattern.xsd
        http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">

    <description>
        This configuration uses an HTTP endpoint to receive requests.
    </description>

    <!--
    To invoke the Hello service over HTTP, hit the following URL in your browser:

        http://localhost:8888?name=Ross
    -->
    <flow name="Flow1">
        <http:inbound-endpoint host="localhost"
                               port="8084" doc:name="HTTP"
                               doc:description="Process HTTP requests or responses." />
        <logger message="About to echo #[message:payload]" level="INFO" />
        <echo-component />
    </flow>

    <pattern:http-proxy  name="baidu-proxy" inboundAddress="vm://baidu" outboundAddress="http://www.baidu.com">
    </pattern:http-proxy>

    <flow name="Flow2">
        <vm:inbound-endpoint address="vm://test1"></vm:inbound-endpoint>
        <set-payload value="test"/>
        <echo-component></echo-component>
    </flow>

</mule>
